@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poetsen+One&display=swap');

:root {
  --foreground: rgb(148, 163, 184);   /* text color */
  --background-start: #0f172a;        /* top of gradient */
  --background-end: #1e293b;          /* bottom of gradient (slightly lighter navy) */
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      var(--background-start),
      var(--background-end)
    );
  font-family: "Marcellus", serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px; /* adjust this to your navbar height */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
